/** 
 * theming styles
 * 
 */

#header {
    background: url(../images/admin-tools.png) 0 0 repeat-x;
}

div.breadcrumbs {
    display: block;
    padding: 10px 15px;
    border: 0;
    background-position: 0 -8px;
    border-bottom: 1px solid #ededed;
}

div.breadcrumbs a {
    display: inline;
}

