django==1.8.5
django-fluent-dashboard==0.5.3
django-admin-tools==0.6.0
django-extensions==1.5.7
django-celery==3.1.16
celery==3.1.16
kombu==3.0.23
billiard==3.3.0.18
Markdown==2.4
djangorestframework==3.3.2
ecdsa==0.11
Pygments==1.6
django-filter==0.7
jsonfield==0.9.22
python-dateutil==2.2
https://github.com/glic3rinu/passlib/archive/master.zip
django-iban==0.3.0
requests
phonenumbers
django-countries
django-localflavor
amqp
anyjson
pytz
