{% extends "admin/orchestra/generic_confirmation.html" %}
{% load i18n l10n staticfiles admin_urls %}


{% block content %}
    <h1>Select a {{ field_name }} for the new {{ opts.object_name }} instance</h1>
    <form action="" method="post">{% csrf_token %}
    <div>
    <div style="margin:20px;">
    <ul>
    {% for name, verbose in plugins %}
        <li><a style="font-size:small;" href="../?{{ field }}={{ name }}&{{ request.META.QUERY_STRING }}">{{ verbose }}</<a></li>
    {% endfor %}
    </ul>
    </div>
{% endblock %}

