{% extends "admin/base_site.html" %}
{% load i18n l10n staticfiles admin_urls %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label='orders' %}">Slices</a>
&rsaquo; <a href="{% url 'admin:orders_order_changelist' %}">Slices</a>
&rsaquo; {{ title }}
</div>
{% endblock %}


{% block content %}
    <form action="" method="post">{% csrf_token %}
    <div>
    
    <div style="margin:20px;">
            {{ form.as_admin }}
    </div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="bill_selected_orders" />
    <input type="hidden" name="step" value="{{ step }}" />
    <input type="submit" value="{% trans "Yes, create slivers" %}" />
    </div>
    </form>
{% endblock %}


