{% extends "admin/change_list.html" %}
{% load i18n admin_static admin_list %}
{% load admin_urls %}
{% load url from future %}

{% block object-tools-items %}
<li>
  <a href="{% url cl.opts|admin_urlname:'add' %}{% if is_popup %}?_popup=1{% endif %}" class="addlink">
    {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }}{% endblocktrans %}
  </a>
</li>

<li>
  <a href="{% url 'admin:names_name_changelist' %}{% if is_popup %}?_popup=1{% endif %}" class="historylink">
    {% blocktrans with cl.opts.verbose_name as name %}Domains{% endblocktrans %}
  </a>
</li>

{% endblock %}
