{% extends "admin/orchestra/generic_confirmation.html" %}
{% load utils %}

{% block display_objects %}
    <ul>
    {% for backend, operations in display_objects.items %}
        <li>Backend: {{ backend }}
        <ul>
            {% for operation in operations %}
              <li>{{ operation.instance|admin_link }} @ {% for route in operation.routes %}{{ route.host|admin_link }}</a>{% if not forloop.last %},{% endif %} {% endfor %}</li>
            {% endfor %}
        </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock %}
