{% extends "admin/change_list.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
<!-- TODO: Make it dinamic! -->
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="/admin/billing/">Billing</a> &rsaquo; 
     <a href="/admin/billing/{{ bill_type }}/">{{ bill_type|capfirst }}</a> &rsaquo; 
     <a href="/admin/billing/{{ bill_subtype }}/{{ bill.pk }}/">{{ bill }}</a> &rsaquo;
     {{ title }}
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}

     
</div>
{% endif %}{% endblock %}
