{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
<!-- TODO: Make it dinamic! -->
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="/admin/billing/">Billing</a> &rsaquo; 
     <a href="/admin/billing/{{ bill_type }}/">{{ bill_type|capfirst }}</a> &rsaquo; 
     {{ bill.ident }}
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}

     
</div>
{% endif %}{% endblock %}

{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
    {% if change %}
        {% if not is_popup %}
            {% if status == settings.OPEN %} 
            <li><a href="action/close/" class="historylink">{% trans "Close" %}</a></li> 
            <li><a href="manage_lines/" class="viewsitelink">{% trans "Manage Lines" %}</a></li>
            {% else %}
            <li><a href="manage_lines/" class="viewsitelink">{% trans "Amend Lines" %}</a></li>
                {% if status == settings.CLOSED %}
                <li><a href="action/send/" class="historylink">{% trans "Send" %}</a></li>   
                {% else %}
                    {% if status == settings.SEND %}
                    <li><a href="action/returned/" class="historylink">{% trans "Returned" %}</a></li>
                    <li><a href="action/payd/" class="historylink">{% trans "Payd" %}</a></li>
                    {% else %}
                        {% if status == settings.RETURNED %}
                        <li><a href="action/irrecovrable/" class="historylink">{% trans "Irrecovrable" %}</a></li>
                        {% endif %}
                    {% endif %}
                {% endif %}
            {% endif %}
            
            <li><a href="get_pdf/" class="historylink">{% trans "Get PDF" %}</a></li>
            <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
            {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
        {% endif %}
        {% else %}
            <li><a href="select_contact/" class="historylink">{% trans "Change Contact" %}</a></li>
    {% endif %}
    {% endblock %}
  </ul>
{% endblock %}



