{% extends "admin/delete_selected_confirmation.html" %}
{% load i18n %}


{% block content %}
{% if perms_lacking or protected %}
    {% if perms_lacking %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would result in deleting related objects, but your account doesn't have permission to delete the following types of objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in perms_lacking %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    {% if protected %}
        <p>{% blocktrans %}Deleting the selected {{ objects_name }} would require deleting the following protected related objects:{% endblocktrans %}</p>
        <ul>
        {% for obj in protected %}
            <li>{{ obj }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% else %}
    {% if unsubscribable_contacts %}
        <p>{% blocktrans %}Are you sure you want to unsubscribe the selected contacts? All of the following contacts will be canceled:{% endblocktrans %}</p>
        {% for unsubscribable_contact in unsubscribable_contacts %}
            <ul>{{ unsubscribable_contact|unordered_list }}</ul>
        {% endfor %}    
        <p>{% blocktrans %}The following contracts will be canceled:{% endblocktrans %}</p>
        {% for cancelable_contract in cancelable_contracts %}
            <ul>{{ cancelable_contract|unordered_list }}</ul>
        {% endfor %} 
    {% else %}   
        <p>{% blocktrans %}Are you sure you want to cancel the selected contracts? All of the following contracts will be canceled:{% endblocktrans %}</p>
        {% for cancelable_contract in cancelable_contracts %}
            <ul>{{ cancelable_contract|unordered_list }}</ul>
        {% endfor %}
    {% endif %}
    <p>{% blocktrans %}And all of the following objects and their related items also will be deleted:{% endblocktrans %}</p>
    {% for deletable_object in deletable_objects %}
        <ul>{{ deletable_object|unordered_list }}</ul>
    {% endfor %}
    <form action="" method="post">{% csrf_token %}
    <div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}
    <input type="hidden" name="action" value="cancel_contract" />
    <input type="hidden" name="post" value="yes" />
    <input type="submit" value="{% trans "Yes, I'm sure" %}" />
    </div>
    </form>
{% endif %}
{% endblock %}
