<head>
  <title>My first HTML document</title>
</head>

<body>
<h1> Bank account transaction report     {{ date }}<h1> 
<h2> REFOUND TRANSACTIONS </h2>

<table border="0.3">
  <thead>
    <tr>
      <th width=5%>ID</th>
      <th width=9%>Bill</th>
      <th width=5%>Total</th>
      <th width=5%>Cur</th>
      <th>Contact</th>
      <th>Bank Account</th>
      <th>Concept</th>
      <th>Creation Date</th>
      <th>Due date</th>
    </tr>
  </thead>
{% for transaction in refound_transactions %}  
  <tfoot>
    <tr>
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.bill }}</td>
      <td>{{ transaction.total }}</td>
      <td>{{ transaction.currency }}</td>
      <td>{{ transaction.contact }}</td>
      <td>{{ transaction.interpreted_data.account }}</td>
      <td>{{ transaction.interpreted_data.concept }}</td>      
      <td>{{ transaction.created }}</td>
      <td>{{ transaction.created }}</td>                                    
    </tr>
  </tfoot>
{% endfor %}
</table>


<h2> CHARGE TRANSACTIONS </h2>

<table border="0.3">
  <thead>
    <tr>
      <th width=5%>ID</th>
      <th width=9%>Bill</th>
      <th width=5%>Total</th>
      <th width=5%>Cur</th>
      <th>Contact</th>
      <th>Bank Account</th>
      <th>Concept</th>
      <th>Creation Date</th>
      <th>Due date</th>
    </tr>
  </thead>
{% for transaction in charge_transactions %}  
  <tfoot>
    <tr>
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.bill }}</td>
      <td>{{ transaction.total }}</td>
      <td>{{ transaction.currency }}</td>
      <td>{{ transaction.contact }}</td>
      <td>{{ transaction.interpreted_data.account }}</td>
      <td>{{ transaction.interpreted_data.concept }}</td>
      <td>{{ transaction.created }}</td>
      <td>{{ transaction.created }}</td>                                    
    </tr>
  </tfoot>
{% endfor %}
</table>


<h2> TRANSACTIONS WITH ZERO VALUE </h2>

<table border="0.3">
  <thead>
    <tr>
      <th width=5%>ID</th>
      <th width=9%>Bill</th>
      <th width=5%>Total</th>
      <th width=5%>Cur</th>
      <th>Contact</th>
      <th>Bank Account</th>
      <th>Concept</th>
      <th>Creation Date</th>
      <th>Due date</th>
    </tr>
  </thead>
{% for transaction in zero_transactions %}  
  <tfoot>
    <tr>
      <td>{{ transaction.id }}</td>
      <td>{{ transaction.bill }}</td>
      <td>{{ transaction.total }}</td>
      <td>{{ transaction.currency }}</td>
      <td>{{ transaction.contact }}</td>
      <td>{{ transaction.interpreted_data.account }}</td>
      <td>{{ transaction.interpreted_data.concept }}</td>      
      <td>{{ transaction.created }}</td>
      <td>{{ transaction.created }}</td>                                    
    </tr>
  </tfoot>
{% endfor %}
</table>

</body>
