{% extends "admin/orchestra/generic_confirmation.html" %}
{% load i18n admin_urls utils %}


{% block content %}
    <p>{{ content_message }}</p>
    <ul>
    {% for proc in processes %}
        <li> <a href="{% url 'admin:payments_transactionprocess_change' proc.pk|admin_urlquote %}">Process #{{ proc.id }}</a>
        {% if proc.file %}
            <ul><li>File: <a href="{{ proc.file.url }}">{{ proc.file }}</a></li></ul>
        {% endif %}
        {% if proc.data %}
            <ul><li>Data: {{ proc.data }}</li></ul>
        {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}
