{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
     <a href="../../../../">{% trans "Home" %}</a> &rsaquo;
     <a href="../../../">contacts</a> &rsaquo; 
     <a href="../../">contact</a> &rsaquo; 
     {{ title }}
     
</div>
{% endif %}{% endblock %}


{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {% block object-tools-items %}
    {% for shortcut_link in shortcut_links %}
        <li><a href="{{ shortcut_link.0 }}" class="{{shortcut_link.1}}">{{ shortcut_link.2 }}</a></li>
    {% endfor %}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
    {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endif %}{% endif %}
{% endblock %}


