{% extends "admin/change_form.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
<!-- TODO: Make it dinamic! -->
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="/admin/{{ opts.app_label }}/">{{ opts.app_label|capfirst }}</a> &rsaquo; 
     <a href="/admin/{{ opts.app_label }}/{{ opts.module_name }}/">{{ opts.module_name|capfirst }}</a> &rsaquo; 
     {% if not object_id %}
     <a href="/admin/{{ opts.app_label }}/{{ opts.module_name }}/add/select_contact/">Select Contact</a> &rsaquo;
     {% endif %} 
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}

     
</div>
{% endif %}{% endblock %}
{% block content_title %}<h1>{{ content_title }}</h1>{% endblock %}
{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
    {% if change %}
        {% if not is_popup %}
        <li><a href="{{ contract_link }}" class="historylink">{% trans "Contract" %}</a></li>
        <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
        {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
        {% endif %}
        {% else %}
            <li><a href="select_contact/" class="historylink">{% trans "Change Contact" %}</a></li>
    {% endif %}
    {% endblock %}
  </ul>
{% endblock %}
