{% extends "admin/change_list.html" %}
{% load i18n %}

{% block breadcrumbs %}{% if not is_popup %}
<div class="breadcrumbs">
<!-- TODO: Make it dinamic! -->
     <a href="/admin/">{% trans "Home" %}</a> &rsaquo;
     <a href="/admin/{{ s_app_label }}/">{{ s_app_label|capfirst }}</a> &rsaquo; 
     <a href="/admin/{{ s_app_label }}/{{ model }}/">{{ model|capfirst }}</a> &rsaquo; 
     {{ title }}
     {% if add %}{% trans "Add" %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}

     
</div>
{% endif %}{% endblock %}

{% block object-tools %}
  <ul class="object-tools">
    {% block object-tools-items %}
        <li><a href="../../../../contacts/contact/add/" class="historylink">{% trans "Add Contact" %}</a></li>
        {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
    {% endblock %}
  </ul>
{% endblock %}
