{% load i18n utils static %}

<html>
<head>
    <title>Resource history</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="{% static "admin/js/jquery.js" %}" type="text/javascript"></script>
    <script src="{% static "orchestra/js/highcharts/highcharts.js" %}" type="text/javascript"></script>
    <script src="{% static "orchestra/js/highcharts/modules/exporting.js" %}" type="text/javascript"></script>
    <script>
    {% for resource, objects, totals, dates in resources %}
        {% if totals %}
            $(function () {
                var title = '{{ resource.aggregation_instance.verbose_name }} {{ resource.content_type }} {{ resource.verbose_name.lower }}';
                var container = '{{ resource.id }}-totals';
                var series = {{ totals|as_json }};
                var dates = {{ dates|as_json }};
                var unit = '{{ resource.unit }}';
                $('#'+container).highcharts({
                    chart: {
                        type: 'column',
                        backgroundColor: "{% if forloop.counter|divisibleby:2 %}#EDF3FE{% else %}#FFFFFF{% endif %}"
                    },
                    title: {
                        text: title
                    },
                    xAxis: {
                        categories: dates
                    },
                    yAxis: {
                        min: 0,
                        title: {
                            text: unit
                        },
                        stackLabels: {
                            enabled: true,
                            style: {
                                fontWeight: 'bold',
                                color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                            }
                        }
                    },
                    legend: {
                        align: 'right',
                        x: -30,
                        verticalAlign: 'top',
                        y: 25,
                        floating: true,
                        backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                        borderColor: '#CCC',
                        borderWidth: 1,
                        shadow: false
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.x + '</b><br/>' +
                                this.series.name + ': ' + this.y + ' ' + unit + '<br/>' +
                                'Total: ' + this.point.stackTotal + ' ' + unit;
                        }
                    },
                    plotOptions: {
                        column: {
                            stacking: 'normal',
                            dataLabels: {
                                enabled: true,
                                color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                                style: {
                                    textShadow: '0 0 3px black'
                                },
                                formatter: function () {
                                    return this.series.name + ': ' + this.y + ' ' + unit;
                                }
                            }
                        }
                    },
                    series: series
                });
            });
        {% endif %}
        $(function () {
            var title = '{{ resource.aggregation_instance.verbose_name }} {{ resource.content_type }} {{ resource.verbose_name.lower }} (detail)';
            var container = '{{ resource.id }}-objects';
            var series = {{ objects|as_json }};
            var dates = {{ dates|as_json }};
            var unit = '{{ resource.unit }}';
            $('#'+container).highcharts({
                chart: {
                    type: 'column',
                    backgroundColor: "{% if forloop.counter|divisibleby:2 %}#EDF3FE{% else %}#FFFFFF{% endif %}"
                },
                title: {
                    text: title
                },
                xAxis: {
                    categories: dates
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: unit
                    },
                    stackLabels: {
                        enabled: true,
                        formatter: function () { return this.total + ' ' + unit; },
                        style: {
                            fontWeight: 'bold',
                            color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                        }
                    }
                },
                legend: {
                    align: 'right',
                    x: -30,
                    verticalAlign: 'top',
                    y: 25,
                    floating: true,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
                    borderColor: '#CCC',
                    borderWidth: 1,
                    shadow: false
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.x + '</b><br/>' +
                            this.series.name + ': ' + this.y + ' ' + unit + '<br/>' +
                            'Total: ' + this.point.stackTotal + ' ' + unit;
                    }
                },
                plotOptions: {
                    column: {
                        stacking: 'normal',
                        dataLabels: {
                            enabled: true,
                            color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                            style: {
                                textShadow: '0 0 3px black'
                            },
                            formatter: function () {
                                return this.series.name + ': ' + this.y + ' ' + unit;
                            }
                        }
                    }
                },
                series: series
            });
        });

    {% endfor %}
    </script>
    <style type="text/css">
    @page {
       size: 11.69in 8.27in;
    }
    h1{
       font-family: sans;
       font-size: 21px;
    }
    table {
       max-width: 10in;
       font-family: sans;
       font-size: 10px;
    }
    table tr:nth-child(even) {
        background-color: #eee;
    }
    table tr:nth-child(odd) {
        background-color: #fff;
    }
    table th {
        color: white;
        background-color: grey;
    }
    .item.column-created, .item.column-updated {
        text-align: center;
    }
    .item.column-amount {
        text-align: right;
    }
    .footnote {
       font-family: sans;
       font-size: 10px;
    }
    </style>
</head>
<body>
    {% for resource, __, totals, __ in resources %}
    <div style="background: {% if forloop.counter|divisibleby:2 %}#EDF3FE{% else %}#FFFFFF{% endif %}; margin-bottom: -1px; border: 1px solid grey">
    <div style="padding: 10px">
    <h1>{{ resource.content_type|capfirst }} {{ resource.verbose_name.lower }}<h1>
    {% if totals %}
        <div id="{{ resource.id }}-totals" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
        <br>
    {% endif %}
    <div id="{{ resource.id }}-objects" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    </div>
    </div>
    {% endfor %}
</body>
</html>
