{% extends "admin/base_site.html" %}
{% load i18n l10n staticfiles admin_urls %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />
{% endblock %}


{% block breadcrumbs %}
TODO
{% endblock %}



{% block content %}
    <h1>Are you sure you want to close selected bills</h1>
    <p>Once a bill is closed it can not be further modified.</p>
    <p>Please select a payment source for the selected bills </p>
    <form action="" method="post">{% csrf_token %}
    <div>
    <div style="margin:20px;">
            {{ form.as_admin }}
    </div>
    {% for obj in queryset %}
    <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk|unlocalize }}" />
    {% endfor %}
    <input type="hidden" name="action" value="close_selected_bills"/>
    <input type="submit" value="{% trans "Yes, close bills" %}" />
    </div>
    </form>
{% endblock %}


