{% load theming_tags staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE }}" xml:lang="{{ LANGUAGE_CODE }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
<link rel="icon" href="{% static "orchestra/images/favicon.png" %}" type="image/png" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
{% render_theming_css %}
{% block adminextraprettystyle %}<link rel="stylesheet" type="text/css" href="{% static "orchestra/css/adminextraprettystyle.css" %}"/>{% endblock %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}


<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

{% block branding-stetic %}
    {% if not is_popup %}
    <div id="header-branding"></div>
    <div id="header-menu"></div>
    {% endif %}
{% endblock %}

{% block breadcrumb-stetic %}
    {% if not is_popup %}
    <div id="header-breadcrumb"></div>
    {% endif %}
{% endblock %}

<!-- Container -->
{% block container-stetic %}<div id="container">{% endblock %}
    {% if not is_popup %}
    <!-- Header -->
   {% block header-stetic %}<div id="header"><div id="header-wrapper">{% endblock %}
        <div id="branding">
            {% block branding %}{% endblock %}
        </div>
        {% block nav-global %}{% endblock %}
    </div></div>
    <!-- END Header -->
    <div class="outer-breadcrumbs">{% block breadcrumbs %}<div class="breadcrumbs">{% trans 'Home' %}</div>{% endblock %}</div>
    {% endif %}
    
    {% block messages %}
        {% if messages %}
        <ul class="messagelist" >{% for message in messages %}
        <div style="background: {% if message.tags == 'warning' %}#ffc{% elif message.tags == 'error' %}#ffefef{% else %}#dfd{% endif %} 5px .3em no-repeat;border-bottom: 1px solid #ddd;">
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %} style="max-width:1330px;margin:auto;">{{ message }}</li></div>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}
    
    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}" style="max-width:1350px; margin:17px auto;">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->
    
    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
