{% extends "admin/ordering/order/select_dependencies.html" %}
{% load i18n admin_modify adminmedia %}

<script type="text/javascript">
window.__admin_media_prefix__ = "{% filter escapejs %}{% admin_media_prefix %}{% endfilter %}";
</script>

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/base.css" />
<link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/widgets.css" />
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/core.js"></script>
{{ form.media }}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css" /> 

    <div id="content" class="colM"> 
	    <div id="content-main">
            <form action="" method="post">{% csrf_token %}
            {{ form.as_django_admin }}
            <div>
            {% for obj in queryset %}
            <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
            {% endfor %}
            <input type="hidden" name="action" value="bill_orders" />
            <input type="hidden" name="post" value="billing_options" />
            <input type="submit" value="{% trans "Submit" %}" />
            </div>
            </form>
	    </div>
    </div>
{% endblock %}

