body {
    background: #FBFAF9 url(/static/orchestra/images/page-gradient.png) top left repeat-x;
}


#header #branding h1 {
    margin: 0;
    padding: 5px 10px;
    background: transparent url(/static/orchestra/images/orchestra-logo.png) 10px 5px no-repeat;
    text-indent: 0;
    height: 31px;
    font-size: 18px;
    font-weight: bold;
    padding-left: 50px;
    line-height: 30px;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: #707070;
}


.version:before {
    content: "v";
    opacity: 0.6;
    padding-right: 0.25em;
}

.version {
  font-size: 60%;
}

#header #branding:hover a {
    text-decoration: none;
    color: #9B9B9B;
}

