@-webkit-keyframes dancing-dots-jump {
  0% { top: 0; }
  55% { top: 0; }
  60% { top: -10px; }
  80% { top: 3px; }
  90% { top: -2px; }
  95% { top: 1px; }
  100% { top: 0; }
}

@-moz-keyframes dancing-dots-jump {
  0% { top: 0; }
  55% { top: 0; }
  60% { top: -10px; }
  80% { top: 3px; }
  90% { top: -2px; }
  95% { top: 1px; }
  100% { top: 0; }
}

#dancing-dots-text span span {
  -webkit-animation-duration: 1800ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: dancing-dots-jump;
  -moz-animation-duration: 1800ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-name: dancing-dots-jump;
  padding: 1px;
  position: relative;
}

#dancing-dots-text span span:nth-child(2) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
}

#dancing-dots-text span span:nth-child(3) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
}
